#cont-pri h1 {
	width: 50%;
    text-align: center;
	margin: 50px auto 15px auto;
    font-size: 28px;
}
#cont-pri p{
	width: 70%;
	margin: 10px auto;
    line-height: 1.2;
	text-align: justify;
}
#cont-pri p::first-letter{
    font-size: 20px;
    font-weight: bold;
}
#cont-sec {
	height: 100%;
	margin: 0 auto;
	padding: 0 auto;
}
iframe {
	float: none;
}
script {
	display: block;
	height: 100%;
}
label{
	display: inline-block;
	height: 15px;
}
form label {
	text-align: left;
}
section > form {
	text-align: left;
	width: max-content;
	margin: 10px auto;
}